@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This portpolio is project for my employment.</a>.</p>
</div>
