@model MyPortpolio.Models.Manage
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile">
            <div class="avatar"><img alt="Circle Image" class="img-fluid img-raised rounded-circle" src="/assets/img/faces/cat1.jpg" /></div>
            &nbsp;

            <div class="name">
                <h3 style="font-weight:bold">Pyun S.H</h3>

                <h6>C# Programmer</h6>
            </div>
        </div>
    </div>+
</div>

<div class="description text-center" style="font-size:20px; margin-bottom:20px;">
    <p style="font-size:20px; color:black">출생 : 1995.11.22 부산광역시</p>
    <p style="font-size:20px;color:black">학력 : 부경대학교 산업공학과</p>
    <p style="font-size:20px; color:black;">
        사용가능한 언어 : &nbsp; C#   &nbsp;  &nbsp;  Python   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;<br />
        DBSql &nbsp; &nbsp;HTML  &nbsp; &nbsp;
    </p>
    <p style="font-size:20px; color:black">이메일 : vustkdgus@naver.com</p>
    <p style="font-size:20px; color:black">연락처 : 010-0000-0000</p>
    <br />
    <br />
</div>
